
@model List<RMS.Model.viewModes.InvoiceDTOs>
@{
    ViewBag.Title = "Index";
}
<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h6>User</h6>
            <a type="button" class="btn btn-primary" href="/Invoice/Create">
                Create
            </a>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr style="font-size:13px;">
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">VAT</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Service tax</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Total</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Status</th>
                            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Cart Detail</th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr class="text-center">
                                <td>
                                    <div class="d-flex px-3 py-1">

                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@user.VAT</h6>
                                        </div>

                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-3 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@user.ServiceTax</h6>
                                        </div>

                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-3 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@user.ITotal</h6>
                                        </div>

                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex px-3 py-1">

                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@user.Status</h6>
                                        </div>

                                    </div>
                                </td>
                                
                                <td>
                                    <div class="d-flex px-3 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@user.Total</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">

                                    <a style="float:right;" class="btn btn-link text-danger text-gradient px-3 mb-0" href="/User/Delete/@user.InvoiceID"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                    <a style="float:right;" class="btn btn-link text-dark px-3 mb-0" href="/User/Edit/@user.InvoiceID"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                                    <a style="float:right;" class="btn btn-link text-dark px-3 mb-0" href="/User/Details/@user.InvoiceID"><i class="fas fa-file-alt text-dark me-2" aria-hidden="true"></i>Details</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

