@model IEnumerable<RMS.Model.viewModes.InventoryProductDTOs>

@{
    ViewBag.Title = "Index";
}



<div class="col-12">
    <div class="card mb-4">
        <div class="card-header pb-0">
            <h4 class="text-center"> INVENTORY PRODUCT  </h4>

            <a type="button" class="btn btn-primary" href="/InventoryProduct/Create">
                Create
            </a>
        </div>


        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Product Name</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Manufacture Date</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Expiry Date</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Category</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Description</th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {
                        <tr class="text-center">

                            <td>
                                @Html.DisplayFor(modelItem => item.ProductsName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ManufactureDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>


                            <td class="align-middle" style="float:right;">

                                <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="/InventoryProduct/Delete/@item.InventoryProductID"><i class="far fa-trash-alt me-2"></i>Delete</a>
                                <a class="btn btn-link text-dark px-3 mb-0" href="/InventoryProduct/Edit/@item.InventoryProductID"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>
                                <a class="btn btn-link text-dark px-3 mb-0" href="/InventoryProduct/Details/@item.InventoryProductID"><i class="fas fa-file-alt text-dark me-2" aria-hidden="true"></i>Details</a>

                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>


        </div>
    </div>

</div>
